.diagramView {
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center; /* Center align items horizontally */
    width: 100%;
}

.container {
    width: 100%; /* Set the width of each bar chart container */
}

.buttons {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.buttonSelected {
    background-color: rgb(0, 0, 2, 0.1);
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}


.overlayCard {
    position: absolute;
    bottom: 20px; /* Abstand von der Unterseite der Map */
    left: 20px; /* Abstand von der linken Seite der Map */
    z-index: 1000; /* Über der Map platzieren */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optionaler Schatten für besseren Kontrast */
    background: white; /* Sicherstellen, dass der Hintergrund der Card sichtbar ist */
    padding: 10px; /* Zusätzlicher Innenabstand für die Card */
    border-radius: 8px; /* Abgerundete Ecken für die Card */
}
