.guide-mode {
    border: "1px solid";
    height: "25vh";
    width: "30vw";
    padding:"10px";
}
.guide-mode h4 {
    margin: "0";
}
.explore-mode {
    order: "1px solid";
    height: "20vh";
    width: "20vw";
    padding:"10px";
}

.start-text {
   border: "1px solid"; 
   height: "20vh";
   width: "20vw";
   padding:"10px";
}

